<div class="center jumbotron">
	<h1>ALPHA BLOG</h1>
	<%= link_to 'Sign up now', "#", class: "btn btn-danger btn-xlarge" %>
</div>

<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis fugiat officia dolores, accusantium delectus voluptatibus rem voluptatem alias rerum minima voluptates, aperiam, tenetur sapiente debitis? Nemo ad qui magni sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate accusamus dolorum labore earum, quod vitae, eos minus voluptatibus adipisci nostrum consequatur pariatur ducimus totam alias veniam veritatis officia distinctio explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quae voluptas ipsa, modi tempora. Molestias, at quasi est vel sint harum voluptate. Eos tempore autem illum quidem nulla in perspiciatis.</p>

<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis fugiat officia dolores, accusantium delectus voluptatibus rem voluptatem alias rerum minima voluptates, aperiam, tenetur sapiente debitis? Nemo ad qui magni sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate accusamus dolorum labore earum, quod vitae, eos minus voluptatibus adipisci nostrum consequatur pariatur ducimus totam alias veniam veritatis officia distinctio explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quae voluptas ipsa, modi tempora. Molestias, at quasi est vel sint harum voluptate. Eos tempore autem illum quidem nulla in perspiciatis.</p>